@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('/font/IRANSansWeb(FaNum).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*:root {*/
/*  --background: #ffffff;*/
/*  --foreground: #171717;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
    font-family: 'MyCustomFont', sans-serif;
}
